
.main{
    // overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    // overflow: hidden;
    width: 90dvw;
    height: 90dvh;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
}